# Compiled class files
*.class

# Logs
*.log
*.log.*
log/

# BlueJ files
*.ctxt

# IntelliJ IDEA files
.idea/

# Eclipse files
.classpath
.project
.settings/

# NetBeans files
nb-configuration.xml

# Visual Studio Code settings
.vscode/

# Compiled Java binaries (e.g., target directory for Maven)
target/

# Gradle files
build/
.gradle/

# Local Maven repository
.m2/

# Dependencies
lib/
